.card{
    /* text-align: center; */
    position: relative;
}
.card img{
    /* max-width: 180px; */
    width: 70%;
    display: block;
    border: 2px solid #fff;
    border-radius:6px ;
    /* text-align: center; */
    margin:0 auto;

}
.card .front{
    position: absolute;
    transition: all ease-in 0.2s;
    transform: rotateY(90deg);

}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}
.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}
.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}